@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600&display=swap");

html,
body {
  margin: 0;
  background: #2b2b2b;
  color: white;
  line-height: 1;
  font-family: "Work Sans", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  width: 1280px;
  padding: 0 50px;
}

.header__buttons {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 12px 20px;
}

.button_cta {
  display: flex;
  background: #a259ff;
  border-radius: 20px;
  padding: 20px 30px;
  gap: 12px;
  align-items: center;
}

.page-wrapper {
  margin: 0 auto;
  width: 1050px;
}

.hero-section-wrapper {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-section__info {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 544px;
  gap: 30px;
}

.hero-section__headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline {
  font-weight: 600;
  font-size: 67px;
  line-height: 1.1;
}

.subhead {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
}

.button_large {
  padding: 20px 50px;
  width: 125px;
}

.hero-section__numbers {
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: row;
  gap: 30px;
}

.hero-section__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
}

.number {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
}

.name {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
}

.hero-section__nft-highlight {
  display: flex;
  flex-direction: column;
  background: #3b3b3b;
  width: 510px;
  height: 510px;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  background: url(hero.png);
  width: 510px;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-section__image-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  gap: 10px;
  padding: 22px 20px;
}

.img-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
}

.hero-section__user {
  display: flex;
  gap: 12px;
}

.avatar {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  border-radius: 120px;
}

.username {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.trending-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 60px;
}

.trending-collection__headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1046px;
  padding: 0px;
  gap: 10px;
}

.headline_small {
  font-size: 38px;
  line-height: 1.2;
}

.trending-collection__collections {
  display: flex;
  gap: 30px;
}

.trending-collection__item {
  display: flex;
  width: 330px;
  flex-direction: column;
  gap: 15px;
}

.trending-collection__images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-image {
  width: 330px;
  height: 330px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.trending-collection__user {
  display: flex;
  gap: 10px;
}

.trending-collection__thumbnails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  width: 330px;
  height: 100px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  background: #3b3b3b;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.thumbnail_more {
  display: flex;
  background-color: #a259ff;
  font-family: "Space Mono";
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
}

.categories-block {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 60px;
  margin: 0 auto;
}

.categories-block__category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.categories-block__category {
  display: flex;
  flex-direction: column;
  background: #3b3b3b;
  width: 240px;
  height: 316px;
  border-radius: 20px;
  overflow: hidden;
}

.categories-block__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.categories-block__image {
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 240px;
  transform: scale(1.1);
  filter: blur(8px);
}

.categories-block__icon {
  position: absolute;
}
