@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  background: #2b2b2b;
  color: white;
  line-height: 1;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

@layer components {
  .hoverScale {
    @apply transition duration-300 ease-in-out hover:scale-105;
  }
  .underline {
    @apply absolute block h-[4px] w-full translate-y-[2px] -translate-x-1/2 scale-x-0 bg-purple-500 transition duration-150 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100;
  }
}
